@model RegisterVM
    <div class="view_content">

        <div class="center">
            <h3>Registrera användare</h3>
            <hr />
            <form enctype="multipart/form-data" asp-controller="AfterWork" asp-action="Register">
                <div class="mb-3">

                    <label asp-for="UserName" class="form-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="mb-3">

                    <label asp-for="MailAddress" class="form-label"></label>
                    <input asp-for="MailAddress" class="form-control" />
                    <span asp-validation-for="MailAddress"></span>
                </div>
                @*<div class="mb-3">
                    <label asp-for="ImageToUpload" class="form-label"></label>
                    <input asp-for="ImageToUpload" class="form-control" />
                    <span asp-validation-for="ImageToUpload"></span>
                </div>*@
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PasswordRepeat" class="form-label"></label>
                    <input asp-for="PasswordRepeat" class="form-control" />
                    <span asp-validation-for="PasswordRepeat"></span>
                </div>
                <input class="input-as-button" type="submit" value="Registrera" />
            </form>
            <div asp-validation-summary="All"></div>


        </div>
        <div class="rightside">
            @await Component.InvokeAsync("HighScore")
        </div>
</div>